:root, body, canvas, #main {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: block;
    overscroll-behavior: none;
}

@font-face {
    font-family: ComingSoon;
    src: url("./font.ttf");
}

#main {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
}

#hover {
    position: absolute;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

* {
    font-family: ComingSoon, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#menu {
    width: 80vw;
    height: 80vh;
    background: rgb(20 20 20 / 0.8);
    border-radius: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 42px;
    > div {
        display: flex;
        gap: 15px;
        margin-top: 30px;
        margin-bottom: 30px;
        align-items: center;
    }
}

input, button, label, td {
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    outline: 5px black solid;
}

input {
    height: 100%;
    width: 400px;
    background: rgb(120 120 120 / 0.8);
    border: none;
    font-size: 30px;
    color: white;
    padding: 8px;
}

#color {
    > label {
        width: 40px;
        height: 40px;
        cursor: pointer;
        display: block;
        input:checked + & {
            outline-color: white;
        }
    }

    > input {
        display: none;
    }
}

button {
    font: inherit;
    background: cornflowerblue;
    color: white;
    padding: 10px;
    cursor: pointer;
}

#score {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: rgb(20 20 20 / 0.8);
    color: white;
    padding: 20px;
    user-select: none;
}

table, tr:nth-child(2n) {
    background: rgb(120 120 120 / 0.4);
}

td {
    padding: 10px;
    min-width: 100px;
    &.finished {
        background: springgreen;
        color: black;
        font-weight: 800;
    }
}

#menu + #score {
    display: none;
}

h2 {
    margin: 0;
}